body {
    text-align: center;
}
h1 {
    font-family: 'Bitter', serif;
    color: "#0D2C40";
    letter-spacing: "1px";
    font-weight: 400;
    font-size: "45px";
    }
h2 {
    font-family: 'Bitter', serif;
    color: "#F15B31";
    letter-spacing: "1px";
    font-weight: "600";
    font-size: "18px";
}
p {
    font-family: 'Bitter', serif;
    line-height: "26px";
    font-size: "18px";
    }
a {
    font-family: 'Bitter', serif;
    color: "#0D2C40";
    letter-spacing: "1px";
    font-weight: "600";
    font-size: "20px";
    text-decoration: "normal";
}